<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="light-blue">
    <ion-title class="ion-main-title text-2xl uppercase" color="purple">Pustaloka</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="purple">
        <ion-icon name="search" slot="icon-only" color="purple"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="purple">
        <ion-icon name="notifications" slot="icon-only" color="purple"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>