<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="light-blue">
    <!-- <ion-buttons slot="start">
      <ion-button fill="clear" color="purple">
        <ion-icon name="filter" slot="icon-only" color="purple"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    
    <ion-title class="ion-main-title text-3xl !leading-none" color="purple">Pustaloka</ion-title>
    
    <!-- <ion-buttons slot="end">
      <ion-button fill="clear" color="purple">
        <ion-icon name="storefront" slot="icon-only" color="purple"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>