<ion-header class="ion-no-border">
  <ion-toolbar color="light-blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/feed" icon="return-up-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light-blue" class="ion-padding">
  <div class="px-2">
    <div class="block ion-margin-bottom">
      <ion-text class="block font-semibold text-xl">{{ item.book }}</ion-text>
    </div>

    <div class="flex w-full ion-margin-bottom">
      <div class="w-16 flex-none border border-dotted border-purple-900 p-1.5 items-center flex justify-center rounded-lg">
        <ion-img [src]="item.cover" class="w-full h-auto"></ion-img>
      </div>
    
      <div class="w-full pl-2">
        <table class="table text-sm w-full">
          <tbody>
            <tr>
              <td class="align-center"><ion-icon name="copy"></ion-icon></td>
              <td class="w-20 align-top"><ion-text>Halaman</ion-text></td>
              <td class="line-clamp-1"><ion-text>{{ item.page_count }} (293 - 300)</ion-text></td>
            </tr>

            <tr>
              <td><ion-icon name="stopwatch"></ion-icon></td>
              <td class="w-20 align-top"><ion-text>Mulai</ion-text></td>
              <td class="line-clamp-1"><ion-text>{{ item.start }}</ion-text></td>
            </tr>

            <tr>
              <td><ion-icon name="stopwatch"></ion-icon></td>
              <td class="w-20 align-top"><ion-text>Selesai</ion-text></td>
              <td class="line-clamp-1"><ion-text>{{ item.end }}</ion-text></td>
            </tr>

            <tr>
              <td><ion-icon name="hourglass"></ion-icon></td>
              <td class="w-20 align-top"><ion-text>Durasi</ion-text></td>
              <td class="line-clamp-1"><ion-text>{{ item.duration }}</ion-text></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ion-item fill="outline" class="ion-item-input ion-margin-bottom" lines="none">
      <ion-textarea 
        label="Kesimpulan"
        placeholder="Poin penting setelah kamu membacanya?" 
        rows="4" 
        labelPlacement="floating" 
        autoGrow="true"
      ></ion-textarea>
    </ion-item>

    <mat-form-field class="example-chip-list">
      <mat-label>Favorite Fruits</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter fruits">
        @for (fruit of fruits(); track fruit) {
          <mat-chip-row
            (removed)="remove(fruit)"
            [editable]="true"
            (edited)="edit(fruit, $event)"
            [aria-description]="'press enter to edit ' + fruit.name"
          >
            {{fruit.name}}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
        <input
          placeholder="New fruit..."
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
</mat-form-field>

    <div class="ion-padding-top">
      <ion-button shape="round" color="purple" expand="block" mode="ios" [routerLink]="['/tabs/feed']">
        Simpan dan Bagikan
      </ion-button>
    </div>
  </div>
</ion-content>