<div class="ion-padding">
  <div *ngIf="displayStat" class="mb-3 flex items-center">
    <div>Statistik</div>
    <div class="ml-auto">
      <ion-buttons>
        <ion-button color="primary" size="small" fill="clear" mode="ios" (click)="dateChangeHandler('from', startOfMonth)">
          <ion-text>{{ startOfMonth | date: 'dd MMM YY' }}</ion-text>
          <ion-icon name="caret-down-outline" class="ml-1 text-neutral-500"></ion-icon>
        </ion-button>
        -
        <ion-button color="primary" size="small" fill="clear" mode="ios" (click)="dateChangeHandler('to', toDatetime)">
          <ion-text>{{ toDatetime | date: 'dd MMM YY' }}</ion-text>
          <ion-icon name="caret-down-outline" class="ml-1 text-neutral-500"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
  
  <canvas [id]="'myChart-user-' + uid"></canvas>
</div>

<ion-modal #changeDateModal class="changeDateModal">
  <ng-template>
    <div class="ion-padding flex items-center">
      <ion-buttons>
        <ion-button (click)="closeChangeDateHandler()" size="small">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div class="pl-3 text-lg">{{ changeDateBehavior == 'from' ? 'Baca dari kapan?' : 'Sampai kapan?' }}</div>
    </div>
    <ion-datetime presentation="date" size="cover" class="w-full mb-3" locale="id-ID" [value]="selectedDatetime" (ionChange)="dateChangedHandler($event)"></ion-datetime>
    <ion-button expand="block" color="purple" mode="ios" shape="round" class="mb-4 ion-margin-start ion-margin-end" (click)="confirmHandler()">Terapkan</ion-button>
  </ng-template>
</ion-modal>