<form [formGroup]="formGroup" (ngSubmit)="submitHandler()">
  <ion-item fill="outline" class="ion-margin-bottom ion-item-input" lines="none">
    <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
    <ion-input type="text" formControlName="display_name" label="Nama Lengkap" labelPlacement="floating" placeholder="Yudhistira"></ion-input>
  </ion-item>

  <ion-item fill="outline" class="ion-margin-bottom ion-item-input" lines="none">
    <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
    <ion-input type="email" formControlName="user_email" label="Alamat Email" labelPlacement="floating" placeholder="myemail@domain.com"></ion-input>
  </ion-item>

  <ion-item fill="outline" class="ion-margin-bottom ion-item-input" lines="none">
    <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
    <ion-input [type]="showPassword() ? 'text' : 'password'" formControlName="password" label="Kata Sandi" labelPlacement="floating"></ion-input>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="medium" (click)="showPasswordHandler()">
        <ion-icon [name]="showPassword() ? 'eye-off' : 'eye'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div class="mt-6">
    <ion-button type="submit" mode="ios" expand="block" color="purple" [disabled]="formGroup.invalid">Buat Akun</ion-button>
  </div>
</form>