ion-avatar {
    border-width: 2px;
    border-radius: 100px;
    border-color: var(--ion-color-purple);
    border-style: solid;
}

tr + tr {
    border-top-width: 1px;
    border-color: var(--ion-color-purple);
    border-style: dotted;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
}

