<ion-tabs>
  <ng-container *ngIf="me$ | async as me">
    <ion-tab-bar *ngIf="showTabs()" slot="bottom" color="light-blue" mode="md">
      <ion-tab-button tab="feed" href="/tabs/feed">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="search" href="/tabs/search">
        <ion-icon aria-hidden="true" name="search"></ion-icon>
      </ion-tab-button>

      <!-- <ion-button color="purple" shape="round" [routerLink]="['/tabs/challenge/new']" [ngStyle]="{'min-height': '2.5rem'}">
        <ion-icon aria-hidden="true" name="book"></ion-icon>
      </ion-button> -->

      <!-- <ion-tab-button tab="information" href="/tabs/information">
        <ion-icon aria-hidden="true" name="megaphone"></ion-icon>
      </ion-tab-button> -->

      <ion-tab-button tab="member" href="/tabs/member">
        <ion-icon aria-hidden="true" name="people"></ion-icon>
        <ion-badge *ngIf="me.statuses == 'success' && me.data.friendship.incoming > 0" color="danger" class="!text-xs w-5 h-5">
          {{ me.data.friendship.incoming }}
        </ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ng-container>
</ion-tabs>
