<ion-card 
  mode="ios" 
  class="!mx-0 shadow-md" 
  [ngClass]="{
    '!border-green-500': item.meta?.progress >= 100,
    'bg-green-50': item.meta?.progress >= 100,
  }"
>
  <ion-card-content class="pt-3">
    <ion-item *ngIf="currentUserId != item.author" lines="none" class="ion-no-padding mb-2.5" [ngStyle]="{'--background': 'none'}">
      <ion-avatar slot="start" class="w-11 h-11">
        <ion-img [src]="item.post_author?.avatar_urls?.thumb"></ion-img>
      </ion-avatar>

      <ion-label>
        <ion-text class="font-semibold">{{ item.post_author.name }}</ion-text>
        <p><ion-text>{{ item.date | date: 'medium' }}</ion-text></p>
      </ion-label>
    </ion-item>

    <div *ngIf="item?.content.rendered !== ''" class="ion-margin-bottom !text-base !text-neutral-700" [innerHTML]="item?.content.rendered"></div>

    <div class="flex w-full">
      <div *ngIf="item?.meta?.book" class="w-14 flex-none border border-dotted border-purple-900 p-1 flex items-center justify-center rounded-lg">
        <ion-img [src]="item?.meta?.book?.book_cover" class="w-full h-auto"></ion-img>
      </div>
    
      <div *ngIf="item?.meta?.book" class="w-full pl-2">
        <table class="table text-sm w-full">
          <tbody>
            <tr>
              <td colspan="2"><ion-text class="line-clamp-2 font-medium" color="purple" [innerHTML]="item.title.rendered"></ion-text></td>
            </tr>

            <tr>
              <td class="w-20 align-top"><ion-text>Halaman</ion-text></td>
              <td class="line-clamp-1"><ion-text>{{ item.meta.from_page | number }} - {{ item.meta.to_page | number }}</ion-text></td>
            </tr>

            <tr>
              <td class="w-20 align-top"><ion-text>Durasi</ion-text></td>
              <td class="line-clamp-1"><ion-text>{{ getDuration(item) }} menit</ion-text></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="item.meta?.progress" class="flex mt-2 items-center">
      <div class="w-12 flex-none ml-auto">
        <span 
          class="w-auto h-6 ml-auto flex items-center justify-center rounded-xl bg-purple-800 text-white text-xs font-semibold"
          [ngClass]="{
            '!bg-green-500': item.meta?.progress >= 100,
          }"
        >
          {{ item.meta?.progress }}%
        </span>
      </div>
      
      <div class="w-10 flex-none text-right">
        {{ item.meta?.to_page | number }}
      </div>
      
      <div class="w-full px-2">
        <ion-progress-bar [value]="item.meta?.progress / 100" mode="ios" [color]="item.meta?.progress >= 100 ? 'success': 'tertiary'" class="h-2.5"></ion-progress-bar>
      </div>

      <div class="w-10 flex-none">
        {{ item.meta?.number_of_pages | number }}
      </div>
    </div>

    <div *ngIf="item?.tags?.length > 0" class="ion-margin-top">
      <mat-chip-set aria-label="Tags">
        @for (tag of item.tags; track tag) {
          <mat-chip>{{ tag.name }}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </ion-card-content>
</ion-card>