<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/feed" icon="return-up-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-lg">Selesai dibaca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="challenges$ | async as challenges">
    @if (challenges.status == 'success') {
      @if (challenges.data.length > 0) {
        <ion-list class="bg-transparent">
          @for (item of challenges.data; track item.id; let last = $last) {
            <ion-item 
              [lines]="last ? 'none' : 'none'"
              button="true"
              class="ion-no-margin rounded-none shadow-none"
              [ngClass]="{
                'border-b-2 border-blue-50': !last,
              }"
              [ngStyle]="{
                '--background': 'transparent',
              }"
              [routerLink]="['/tabs/reading-challenge/challenges', item.id]"
            >
              <ion-thumbnail slot="start" class="w-20 !h-auto py-2">
                <img [src]="item?.meta?.book?.featured_media_url">
              </ion-thumbnail>

              <ion-label>
                <ion-text class="line-clamp-2 font-medium leading-5" [innerHTML]="item.title.rendered"></ion-text>
                <div>
                  <ion-text class="text-sm !text-neutral-500">
                    Dibaca: {{ item.meta.reading.last_reading_datetime ? (item.meta.reading.last_reading_datetime | date : 'short') : 'Tidak pernah' }}
                  </ion-text>
                </div>
                <div class="flex mt-2 items-center">
                  <div class="w-12 flex-none ml-auto">
                    <span 
                      class="w-auto h-6 ml-auto flex items-center justify-center rounded-xl bg-neutral-200 text-xs font-semibold"
                    >
                      {{ item.meta?.reading?.progress }}%
                    </span>
                  </div>

                  <div class="w-10 flex-none text-right">
                    {{ item.meta.reading.to_page ? item.meta.reading.to_page : '0' | number }}
                  </div>
                  
                  <div class="w-full px-2">
                    <ion-progress-bar 
                      [value]="item.meta.reading.progress / 100" 
                      mode="ios" 
                      color="tertiary" 
                      class="h-2.5"
                    ></ion-progress-bar>
                  </div>

                  <div class="w-10 flex-none">
                    {{ item.meta.number_of_pages | number }}
                  </div>
                </div>
              </ion-label>
            </ion-item>
          }
        </ion-list>
      } @else {
        <div class="ion-padding text-center w-4/5 mx-auto !pt-14">
          <div class="block text-center">
            <ion-icon name="book-outline" slot="icon-only" class="text-6xl"></ion-icon>
          </div>
          <ion-text>Belum ada buku nih! Tambahkan satu dan mulai rekam riwayat membacanya.</ion-text>
        </div>
      }
    }
  </ng-container>
</ion-content>