<form [formGroup]="formGroup" (ngSubmit)="submitHandler()">
  <ion-item fill="outline" class="mb-2 ion-item-input" lines="none">
    <ion-icon slot="start" name="lock-open" aria-hidden="true"></ion-icon>
    <ion-input type="text" formControlName="security_code" label="Kode Verifikasi" labelPlacement="floating" placeholder="X114DD"></ion-input>
  </ion-item>

  <div class="ion-margin-bottom text-sm">
    <ion-text>Kode verifikasi dikirim ke email: <strong>{{ email }}</strong>. Cek emailnya ya!</ion-text>
  </div>

  <ion-item fill="outline" class="ion-margin-bottom ion-item-input" lines="none">
    <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
    <ion-input [type]="showPassword() ? 'text' : 'password'" formControlName="new_password" label="Kata Sandi Baru" labelPlacement="floating" placeholder="******"></ion-input>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="medium" (click)="showPasswordHandler()">
        <ion-icon [name]="showPassword() ? 'eye-off' : 'eye'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item fill="outline" class="ion-margin-bottom ion-item-input" lines="none">
    <ion-icon slot="start" name="repeat" aria-hidden="true"></ion-icon>
    <ion-input [type]="showPassword() ? 'text' : 'password'" formControlName="confirm_password" label="Konfirmasi Sandi Baru" labelPlacement="floating" placeholder="******"></ion-input>
  </ion-item>

  <div class="mt-6">
    <ion-button type="submit" mode="ios" expand="block" color="purple" [disabled]="formGroup.invalid">Konfirmasi</ion-button>
  </div>
</form>