/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@use '@angular/material' as mat;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/** Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;



// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.chips-overrides((
    container-shape-radius: 50px,
  ));
}

.ion-item-input {
    --border-radius: 14px;
    --border-color: var(--ion-color-light-blue-contrast);
    --border-style: solid;
    --border-width: 1px;
}

// .ion-main-title {
//     font-family: "Bubblegum Sans", serif;
//     font-weight: 400;
//     font-style: normal;
//     letter-spacing: 1px;
// }

ion-header {
    &.ion-border-bottom {
        border-bottom-width: 1px;
        border-style: solid;
        border-color: var(--ion-color-purple-tint);
    }

    // ion-back-button {
    //     background-color: var(--ion-color-purple);
    //     color: var(--ion-color-purple-contrast);
    //     border-radius: 50%;
    //     margin: 8px;
    // }
}

ion-card {
    border-width: 0 0 2px 0; 
    border-style: solid;
    border-color: #d8d6cf;
    box-shadow: none;
    border-radius: 0;
    box-shadow: none !important;
    margin-top: 0;
    margin-bottom: 0;

    p {
        font-size: 1rem !important;
    }
}

ion-item {
    ion-textarea {
        min-height: 38px !important;

        label {
            .label-text-wrapper {
                -webkit-transform: translateY(100%) scale(1) !important;
                transform: translateY(100%) scale(1) !important;
            }
        }

        &.has-focus,
        &.has-value {
            label {
                .label-text-wrapper {
                    -webkit-transform: translateY(50%) scale(0.75) !important;
                    transform: translateY(50%) scale(0.75) !important;
                }
            }
        }
    }

    > ion-icon {
        margin-right: 16px;
    }
}

.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 14px !important;
}

ng-http-loader {
    z-index: 99999;
}

ion-textarea {
    &.comment-input {
        textarea {
            padding-left: 16px !important;
            padding-right: 16px !important;
            padding-inline-start: 16px !important;
            -webkit-padding-start: 16px !important;
            padding-inline-end: 16px !important;
            -webkit-padding-end: 16px !important;
        }
    }
}