/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/** Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ion-item-input {
    --border-radius: 14px;
    --border-color: var(--ion-color-light-blue-contrast);
    --border-style: solid;
    --border-width: 1px;
}

.ion-main-title {
    font-family: "Macondo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

ion-header {
    &.ion-border-bottom {
        border-bottom-width: 1px;
        border-style: solid;
        border-color: var(--ion-color-purple-tint);
    }

    // ion-back-button {
    //     background-color: var(--ion-color-purple);
    //     color: var(--ion-color-purple-contrast);
    //     border-radius: 50%;
    //     margin: 8px;
    // }
}

ion-card {
    border-width: 1px;
    border-style: solid;
    border-color: var(--ion-color-purple-tint);
    box-shadow: none;
    border-radius: 16px;
}

ion-item {
    ion-textarea {
        min-height: 38px !important;

        label {
            .label-text-wrapper {
                -webkit-transform: translateY(100%) scale(1) !important;
                transform: translateY(100%) scale(1) !important;
            }
        }

        &.has-focus {
            label {
                .label-text-wrapper {
                    -webkit-transform: translateY(50%) scale(0.75) !important;
                    transform: translateY(50%) scale(0.75) !important;
                }
            }
        }
    }
}