<ion-content color="purple">
  <canvas id="granim-canvas" class="w-screen h-screen z-40 absolute top-0 left-0 right-0 bottom-0"></canvas>

  <div class="h-full flex flex-col items-center justify-center p-7 relative z-50">
    <div class="block w-40 ion-margin-bottom">
      <ion-img src="assets/placeholder_book.svg"></ion-img>
    </div>

    <div class="block mb-2">
      <ion-text class="block text-xl font-semibold ion-text-center">Dad, I Want to Hear Your Story: A Father’s Guided Journal</ion-text>
    </div>

    <div class="block ion-margin-bottom">
      <ion-text class="block ion-text-center">Antonio Fernandes</ion-text>
    </div>

    <div class="grid grid-cols-5 gap-1 text-center text-3xl font-bold ion-margin-bottom">
      <div>{{ hour }}</div>
      <div>:</div>
      <div>{{ minute }}</div>
      <div>:</div>
      <div>{{ second }}</div>
    </div>

    <div class="grid grid-cols-3 gap-3 ion-margin-top">
      <ion-button fill="clear" shape="round" size="large" color="light-blue" (click)="cancelHandler()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>

      <ion-button shape="round" size="large" color="purple" class="!w-20 !h-20" (click)="playPauseHandler()">
        <ion-icon 
          slot="icon-only" 
          [name]="isPlay() ? 'pause' : 'play'" 
          class="relative"
          size="large"
          [ngClass]="{
            'left-0.5': !isPlay(),
          }"
        ></ion-icon>
      </ion-button>

      <ion-button fill="clear" shape="round" size="large" color="light-blue" (click)="finishHandler()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
